*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    background-color: #000;
    color: #fff;
    width:100%;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 250%;
}